<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<!-- Adding the fragment site-head in layout.html-->
<head th:replace="layout :: site-head">
</head>

<!-- Adding the fragment logged-out in layout.html-->
<header th:replace="layout :: logged-out"></header>

<h2>Please Register:</h2>

<!-- Get the details of the user to be registered and call the controller method mapped with request pattern '/users/registration' and accepting the request of type POST-->
<form th:action="@{/users/registration}" th:method="POST" th:object="${User}">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="${User.username}"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="${User.password}"/>

    <label for="fullname">Full Name:</label>
    <input type="text" id="fullname" name="fullName" th:field="${User.profile.fullName}"/>

    <label for="fullname">Email Address:</label>
    <input type="text" id="emailaddress" name="emailAddress" th:field="${User.profile.emailAddress}"/>

    <label for="fullname">Mobile Number:</label>
    <input type="text" id="mobilenumber" name="mobileNumber" th:field="${User.profile.mobileNumber}"/>

    <input type="submit" value="Register"/>
</form>

</html>